---
---
@import 'bootstrap';
@import 'colors';
@import 'fonts';
@import 'magnific';
body { 
  font-family: 'Source-Sans-Pro-ExtraLight';

  .logo {
    img {
      margin-top: 60px;
      margin-left: 40px;
    }
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 12pt;
  }

  .rule {
    margin-left: 20px;
  }

  .page-header {
    margin-top: 60px;
    text-transform: uppercase;
    padding-bottom: 0;


    h1 {
      font-weight: 900;
      padding-top: 20px;
      padding-bottom: 30px;
      font-size: 32pt;
    }
    
    span:nth-of-type(1) {
      font-size: $font-size-h2;
    }

    span:nth-of-type(2) {
      font-style: italic;
      font-size: 15pt;
      color: #d6d6d6;
    }

  }

  ul.menu {
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin-left: 15px;

    .active {
      text-decoration: underline;
    }

    li {
      padding-bottom: 10px;

      a:nth-of-type(1) {
        font-weight: 900;
        font-size: 12pt;
      }

      a:hover:nth-of-type(1) {
        text-decoration: none;
        border-bottom: 1px solid black;
      }

      a:nth-of-type(2){
          font-style: italic;
          font-weight: normal;
          font-size: 9pt;
      }
      a:nth-of-type(2):hover {
        text-decoration: none;
      }
    }
  }

  .menutitle {
    font-size: $font-size-xlarge;
    margin-left: 15px;
    margin-top: 0;
  }

  .home-image {
    border: 1px solid $gray-base;
    padding: 0px; 
    min-height: 190px;
    text-align: center;

    a:hover {
      text-decoration: none;
    }

    img {
      max-width: 208px;
      height: 140px; 
    }

    h2 {
      font-size: 10pt;
      text-transform: uppercase;

      span {
        margin-left: 5px;
      }

      span.producttype {
        text-transform: none;
        font-style: italic;
        font-family: Garamond;
        font-size: 10pt;
      }

      span.productsize {
        font-size: 10pt;
      }
    }

    p {
      margin-right: 10px;
    }
  }

  .home-image-active {
    @extend .home-image;
    border: 2px solid $gray-base;
  }

  .spacer {
    margin-bottom: 10px;
  }

  a:href {
    color: $link-color;
  }


  .product-title {
    margin-bottom: 5px;
    h2 {
      margin-top: 0px;
      font-size: 20px;

      span:nth-of-type(1) {
        font-family: Garamond;
        font-style: italic;
        text-transform: none;
        margin-left: 10px;
      }
      
      span:nth-of-type(2) {
        margin-left: 20px;

      }
    }
  }

  .product-details {
    margin-right: 15px;

    .pics {

      .type { 
        display: block;
        width: 370px;
        //first images of type
        img:nth-of-type(1) {
          width: inherit;
          
        }
        //other images
        img {
          width: 60px;

        }
      }

    }

    .thumbs {

      .thumb {

      }
      height: 50px;
      border: 1px solid black;
    }

    .colors {
      height: 50px;
      margin-bottom: 40px;

      ul {
        font-family: Garamond;
        font-style: italic;

        li:nth-of-type(1) {
          margin-left: 0px;
          padding-left: 0px;
        }
        li {
          width: 70px;
          float: left;
        }
      }
    }

    a {
      font-size: 20px;
      text-align: center;

      .buy {
        padding: 10px;
        border: 1px solid black;
        font-style: italic;
        font-family: Garamond;

        span {
          font-style: normal;
          font-family: 'Source-Sans-Pro-ExtraLight';
        }

      }
    }
    a:hover {
      text-decoration: none;
    }
  }

  #showDutch {
    font-weight: 50;
    font-family: Garamond;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
  }

  .dutchdescription {
    font-style: italic;
    display: none;
  }


  .navy {
    color: $navy; 
  }
  .sailor {
    color: $sailor;
  }
  .linen {
    color: $linen;
  }
  .noir {
    color: $noir;
  }
  .rust {
    color: $rust;
  }
}
