---
layout: default
title: index
---
{% for product_hash in site.data.products %}
  {% assign product = product_hash[1] %}

  {% if forloop.first %}
    <div class="row">
  {% endif %}

    {% for type in product.types %}
      {% assign mod = forloop.index | modulo:3 %}
      
      {% for image in type.images %}
        {% if forloop.first %}
          <div class="col-md-4 spacer">
            <div class="home-image">
              <a href="{{product.producturl}}#{{ type.cssclass }}">
                  <img src="{{image.url}}">
                  <h2>{{product.productname}}
                    <span class="producttype" style="color: {{type.color}};">{{type.name}}</span>
                    {% if type.size %}<span class="productsize">[{{type.size}}]</span>{% endif %}
                  </h2>
              </a>
            </div>
          </div>
        {% endif %}
        {% endfor %}


    {% endfor %}
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}

<div class="row">&nbsp;</div>
