<a href="/"><img src="/img/200-pied-vet.png" class="mainlogo"/></a>

<div class="container col-lg-10 col-lg-offset-2">
    <div class="row spacermainlogo">&nbsp;</div>
</div>

<div class="container">

    <div class="row col-lg-10 col-lg-offset-1">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="container">
                    <div class="row">
                        <span class="navbar-brand sr-only">Piedewietje</span>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </div>
            </div>
    
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="navbar-left text-uppercase"><a href="/contact/">Contact</a></li>
                    <li class="navbar-right text-uppercase"><a href="https://www.etsy.com/nl/shop/Piedewietje" target="_blank">Webshop/Etsy</a></li>
                </ul>  
            </div>    
        </nav>
    </div>
</div>
