{% if page.title != 'contact' and page.title != 'press' and page.title != 'piedewietje' %}
<h2 class="menutitle text-uppercase">Products:</h2>
  <ul class="menu">
    <li {% if page.title == 'index' %} class="active"{% endif %}><a href="/">All</a></li>
    <li {% if page.title == 'make-up-bags' %} class="active" {% endif %}>
      <a href="/make-up-bags.html">
        Make-up Bags
      </a>
      <a href="/make-up-bags.html">
        <br/>Make-up tasjes / Pennenetui's
      </a>
    </li>
    <li {% if page.title == 'toiletry-bags' %} class="active" {% endif %}>
      <a href="/toiletry-bags.html">
        Toiletry Bags 
      </a>
      <a href="/toiletry-bags.html">
        <br/>Toilettassen
      </a></li>
    <li {% if page.title == 'backpacks' %} class="active" {% endif %}>
      <a href="/backpacks.html">
        Backpacks / Rucksacks
      </a>
      <a href="/backpacks.html">
        <br/>Rugzakken
      </a>
    </li>
    <li {% if page.title == 'gymbags' %} class="active" {% endif %}>
      <a href="/gymbags.html">
        Gymbags
      </a>
      <a href="/gymbags.html">
        <br/>Sporttassen
      </a>
    </li>
  </ul>
{% endif %}
