@font-face {
    font-family: 'Source-Sans-Pro-ExtraLight';
    src:url('/css/fonts/Source-Sans-Pro-ExtraLight.ttf.woff') format('woff'),
        url('/css/fonts/Source-Sans-Pro-ExtraLight.ttf.svg#Source-Sans-Pro-ExtraLight') format('svg'),
        url('/css/fonts/Source-Sans-Pro-ExtraLight.ttf.eot'),
        url('/css/fonts/Source-Sans-Pro-ExtraLight.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source-Sans-Pro-ExtraLight-Italic';
    src:url('Source-Sans-Pro-ExtraLight-Italic.ttf.woff') format('woff'),
        url('Source-Sans-Pro-ExtraLight-Italic.ttf.svg#Source-Sans-Pro-ExtraLight-Italic') format('svg'),
        url('Source-Sans-Pro-ExtraLight-Italic.ttf.eot'),
        url('Source-Sans-Pro-ExtraLight-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
