---
layout: default
---
<div class="container">
  <div class="row product-title">
    <h2 class="text-uppercase">{{ page.title }} <span>Sailor</span>
      {% if page.size %}<span>[ {{ page.size }} ]</span>{% endif %}
    </h2>
  </div>
    <div class="row">
      <div class="col-md-4 product-details">
        <div class="pic">

        </div>
        <div class="thumbs">

        </div>
        <div class="colors">
          This {{ page.title }} is availabe in:

          {% for product_hash in site.data.products %}
            {% assign product = product_hash[1] %}
            {% if product.ident == page.ident %}
              <ul>
                {% for type in product.types %}
                <li class="{{ type.cssclass }}"><a class="{{ type.cssclass }}" href="{{ page.url }}#{{ type.cssclass }}">{{ type.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}

        </div>

        {% for product_hash in site.data.products %}
          {% assign product = product_hash[1] %}
          {% if product.ident == page.ident %}
            <a href="#">
              <div class="buy">
                Buy this&nbsp;<span class="text-uppercase">{{ page.title }}</span>
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-3">
        {{ content }}
          {% for product_hash in site.data.products %}
            {% assign product = product_hash[1] %}
              {% if product.ident == page.ident %}
                <button id="showDutch"> Toon NL omschrijving</button>
                <div class="dutchdescription">
                  {% for line in product.dutchdescription %}
                    <p>{{ line | markdownify }}</p>
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
</div>
