---
layout: default
---
<div class="container">
  <div class="row product-title">
    <h2 class="text-uppercase">{{ page.title }} <span class="hidden">Sailor</span>
      {% if page.size %}<span>[ {{ page.size }} ]</span>{% endif %}
    </h2>
  </div>
    <div class="row">
      <div class="col-md-4 product-details">
        <div class="pics">

          {% for product_hash in site.data.products %}
            {% assign product = product_hash[1] %}

            {% if product.ident == page.ident %}
              {% for type in product.types %}
                <div class="carousel type {{type.cssclass}}">
                  {% for image in type.images %}
                  <a href="{{ image.url }}">
                    <img src="{{ image.url}}" />
                  </a>
                  {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
          {% endfor %}
        
        </div>
        <div class="colors">
          This {{ page.title }} is availabe in:

          {% for product_hash in site.data.products %}
            {% assign product = product_hash[1] %}
            {% if product.ident == page.ident %}
              <ul>
                {% for type in product.types %}
                <li class="{{ type.cssclass }}"><a class="{{ type.cssclass }}" href="{{ page.url }}#{{ type.cssclass }}">{{ type.name }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}

        </div>

        {% for product_hash in site.data.products %}
        {% assign product = product_hash[1] %}
          {% if product.ident == page.ident %}
            {% for type in product.types %}
              <a href="{{type.etsylink}}" target="_blank">
                <div class="buy {{ type.cssclass }}">
                  Buy this &nbsp;<span class="text-uppercase">{{ page.title }}</span>
                </div>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-3">
        {{ content }}
          {% for product_hash in site.data.products %}
          {% assign product = product_hash[1] %}
              {% if product.ident == page.ident %}
                <a id="showDutch">Nederlandse product uitleg</a>
                <div class="dutchdescription">
                  {% for line in product.dutchdescription %}
                    <p>{{ line | markdownify }}</p>
                  {% endfor %}
                </div>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
</div>
